## Activity 02: Indexing, Slicing, and Iterating

Our client wants to prove that our dataset is nicely distributed around the mean value of 100.   
They asked us to run some tests on several subsections of it to make sure they won't get a non-descriptive section of our data.

Look at the mean value of each subtask.

#### Loading the dataset

In [6]:
# importing the necessary dependencies
import numpy as np

In [7]:
# loading the Dataset
dataset = np.genfromtxt('./data/normal_distribution.csv', delimiter=',')

In [8]:
import pandas as pd
pd.DataFrame(dataset)

,0,1,2,3,4,5,6,7,8
0,99.149315,104.038527,107.435347,97.852307,98.749869,98.808334,96.819649,98.567832,101.347459
1,92.026288,97.104393,99.320669,97.245848,92.926751,92.656578,105.719785,101.231629,93.871555
2,95.662537,95.177501,90.933181,110.188895,98.800844,105.952977,98.374814,106.546543,107.224824
3,91.372946,100.967814,100.401183,113.420905,105.485088,91.660495,106.147284,95.087158,103.404121
4,101.208625,103.573031,100.286909,105.852694,93.371263,108.579804,100.794790,94.200197,96.100203
5,102.803871,98.296876,93.243764,97.241300,89.034527,96.283275,104.603448,101.134424,97.627878
6,106.717516,102.975856,98.457233,100.724189,106.397985,95.464934,94.353732,106.832738,100.077215
7,96.025483,102.823609,106.475518,101.347459,102.456518,98.747675,97.575443,92.574876,91.372946
8,105.303504,92.877308,103.192583,104.405183,101.293268,100.854471,101.222604,106.038688,97.852307
9,110.444843,93.871555,101.536365,97.653935,92.750486,101.720746,96.968512,103.291471,99.149315
10,101.351418,100.373722,106.647108,100.617428,105.032054,99.360000,98.870075,95.852842,93.978535
11,97.213157,107.028742,102.176421,96.746303,95.937992,102.623847,105.074753,97.595722,106.573646
12,95.659820,107.224824,107.191199,102.930395,85.988396,95.191843,91.320933,102.353140,100.393035
13,100.393035,92.010823,97.758876,93.188843,100.449403,108.094234,96.503429,99.586647,95.191843
14,103.152160,109.405232,93.839693,99.958279,101.834628,99.699828,103.052896,103.933840,104.158998
15,106.114550,88.802211,94.508179,94.593007,101.088305,96.346228,96.892443,98.071227,100.286909
16,96.782662,99.842516,104.034780,106.570527,105.136683,105.370119,99.075513,104.158998,98.751084
17,101.861862,103.617202,99.578599,99.488954,103.055414,98.659127,98.727741,104.705264,110.444843
18,97.495948,96.593855,104.638177,102.551986,105.860785,96.593778,93.046109,99.921600,100.967814
19,96.768148,91.677922,101.791328,101.207734,98.292440,101.838458,97.940469,102.206185,91.372946
20,106.890050,106.573646,102.266483,107.400646,99.943182,103.404121,106.382767,98.002530,97.104393
21,99.808731,101.639731,106.464765,110.439767,100.691562,99.995795,101.321137,94.762536,97.241300
22,96.100203,94.574217,100.804093,105.023899,98.613252,95.623593,97.997624,103.838525,101.222604
23,94.111769,99.623878,104.517864,97.627878,93.978535,98.751084,106.050425,100.077215,106.890050

---

#### Indexing

Since we need several rows of our dataset to complete the given task, we have to use indexing to get the right rows.   
To recap, we need: 
- the second row 
- the last row
- the first value of the first row
- the last value of the second to the last row

In [9]:
# indexing the second row of the dataset (2nd row)
dataset[1]

array([ 92.02628776,  97.10439252,  99.32066924,  97.24584816,
        92.9267508 ,  92.65657752, 105.7197853 , 101.23162942,
        93.87155456])

In [10]:
# indexing the last element of the dataset (last row)
dataset[-1]

array([ 94.11176915,  99.62387832, 104.51786419,  97.62787811,
        93.97853495,  98.75108352, 106.05042487, 100.07721494,
       106.89005002])

In [11]:
# indexing the first value of the second row (1st row, 1st value)
dataset[1][0]

92.02628776

In [12]:
# indexing the last value of the second to last row (we want to use the combined access syntax here) 
dataset[-2][-1]

101.2226037

---

#### Slicing

Other than the single rows and values we also need to get some subsets of the dataset.   
Here we want slices:
- a 2x2 slice starting from the second row and second element to the 4th element in the 4th row
- every other element of the 5th row
- the content of the last row in reversed order

In [13]:
# slicing an intersection of 4 elements (2x2) of the first two rows and first two columns
dataset[:2,:2]

array([[ 99.14931546, 104.03852715],
       [ 92.02628776,  97.10439252]])

##### Why is it not a problem if such a small subsection has a bigger standard deviation from 100?

Several smaller values can cluster in such a small subsection leading to the value being really low.   
If we make our subsection larger, we have a higher chance of getting a more expressive view of our data.

In [14]:
# selecting every second element of the fifth row 
dataset[4,::2]

array([101.20862522, 100.28690912,  93.37126331, 100.79478953,
        96.10020311])

In [15]:
# reversing the entry order, selecting the first two rows in reversed order
dataset[ :2, ::-1 ]

array([[ 96.10020311,  94.57421727, 100.80409326, 105.02389857,
         98.61325194,  95.62359311,  97.99762409, 103.83852459,
        101.2226037 ],
       [ 94.11176915,  99.62387832, 104.51786419,  97.62787811,
         93.97853495,  98.75108352, 106.05042487, 100.07721494,
        106.89005002]])

---

#### Splitting

Our client's team only wants to use a small subset of the given dataset.   
Therefore we need to first split it into 3 equal pieces and then give them the first half of the first split.   
They sent us this drawing to show us what they need:
```
1, 2, 3, 4, 5, 6          1, 2     3, 4    5, 6          1, 2  
3, 2, 1, 5, 4, 6    =>    3, 2     1, 5    4, 6    =>    3, 2    =>    1, 2
5, 3, 1, 2, 4, 3          5, 3     1, 2    4, 3                        3, 2
1, 2, 2, 4, 1, 5          1, 2     2, 4    1, 5          5, 3
                                                         1, 2
```

> **Note:**   
We are using a very small dataset here but imagine you have a huge amount of data and only want to look at a small subset of it to tweak your visualizations

In [16]:
# splitting up our dataset horizontally on indices one third and two thirds
hsplit_result = np.hsplit(dataset, 3)
hsplit_result

[array([[ 99.14931546, 104.03852715, 107.43534677],
        [ 92.02628776,  97.10439252,  99.32066924],
        [ 95.66253664,  95.17750125,  90.93318132],
        [ 91.37294597, 100.96781394, 100.40118279],
        [101.20862522, 103.5730309 , 100.28690912],
        [102.80387079,  98.29687616,  93.24376389],
        [106.71751618, 102.97585605,  98.45723272],
        [ 96.02548256, 102.82360856, 106.47551845],
        [105.30350449,  92.87730812, 103.19258339],
        [110.44484313,  93.87155456, 101.5363647 ],
        [101.3514185 , 100.37372248, 106.6471081 ],
        [ 97.21315663, 107.02874163, 102.17642112],
        [ 95.65982034, 107.22482426, 107.19119932],
        [100.39303522,  92.0108226 ,  97.75887636],
        [103.1521596 , 109.40523174,  93.83969256],
        [106.11454989,  88.80221141,  94.5081787 ],
        [ 96.78266211,  99.84251605, 104.03478031],
        [101.86186193, 103.61720152,  99.57859892],
        [ 97.49594839,  96.59385486, 104.63817694],
        [ 96.76814836,  91.6779221 , 101.79132774],
        [106.89005002, 106.57364584, 102.26648279],
        [ 99.80873105, 101.63973121, 106.46476468],
        [ 96.10020311,  94.57421727, 100.80409326],
        [ 94.11176915,  99.62387832, 104.51786419]]),
 array([[ 97.85230675,  98.74986914,  98.80833412],
        [ 97.24584816,  92.9267508 ,  92.65657752],
        [110.18889465,  98.80084371, 105.95297652],
        [113.42090475, 105.48508838,  91.6604946 ],
        [105.85269352,  93.37126331, 108.57980357],
        [ 97.24130034,  89.03452725,  96.2832753 ],
        [100.72418901, 106.39798503,  95.46493436],
        [101.34745901, 102.45651798,  98.74767493],
        [104.40518318, 101.29326772, 100.85447132],
        [ 97.65393524,  92.75048583, 101.72074646],
        [100.61742813, 105.0320535 ,  99.35999981],
        [ 96.74630281,  95.93799169, 102.62384733],
        [102.93039474,  85.98839623,  95.19184343],
        [ 93.18884302, 100.44940274, 108.09423367],
        [ 99.95827854, 101.83462816,  99.69982772],
        [ 94.59300658, 101.08830521,  96.34622848],
        [106.57052697, 105.13668343, 105.37011896],
        [ 99.4889538 , 103.05541444,  98.65912661],
        [102.55198606, 105.86078488,  96.5937781 ],
        [101.20773355,  98.29243952, 101.83845792],
        [107.40064604,  99.94318168, 103.40412146],
        [110.43976681, 100.69156231,  99.99579473],
        [105.02389857,  98.61325194,  95.62359311],
        [ 97.62787811,  93.97853495,  98.75108352]]),
 array([[ 96.81964892,  98.56783189, 101.34745901],
        [105.7197853 , 101.23162942,  93.87155456],
        [ 98.37481387, 106.54654286, 107.22482426],
        [106.1472841 ,  95.08715803, 103.40412146],
        [100.79478953,  94.20019732,  96.10020311],
        [104.60344836, 101.13442416,  97.62787811],
        [ 94.35373179, 106.83273763, 100.07721494],
        [ 97.57544275,  92.5748759 ,  91.37294597],
        [101.2226037 , 106.03868807,  97.85230675],
        [ 96.96851209, 103.29147111,  99.14931546],
        [ 98.87007532,  95.85284217,  93.97853495],
        [105.07475277,  97.59572169, 106.57364584],
        [ 91.32093303, 102.35313953, 100.39303522],
        [ 96.50342927,  99.58664719,  95.19184343],
        [103.05289628, 103.93383957, 104.15899829],
        [ 96.89244283,  98.07122664, 100.28690912],
        [ 99.07551254, 104.15899829,  98.75108352],
        [ 98.72774132, 104.70526438, 110.44484313],
        [ 93.04610867,  99.92159953, 100.96781394],
        [ 97.94046856, 102.20618501,  91.37294597],
        [106.38276709,  98.00253006,  97.10439252],
        [101.32113654,  94.76253572,  97.24130034],
        [ 97.99762409, 103.83852459, 101.2226037 ],
        [106.05042487, 100.07721494, 106.89005002]])]

In [17]:
v_split_result = np.vsplit(hsplit_result[0], 2)
v_split_result[0]

array([[ 99.14931546, 104.03852715, 107.43534677],
       [ 92.02628776,  97.10439252,  99.32066924],
       [ 95.66253664,  95.17750125,  90.93318132],
       [ 91.37294597, 100.96781394, 100.40118279],
       [101.20862522, 103.5730309 , 100.28690912],
       [102.80387079,  98.29687616,  93.24376389],
       [106.71751618, 102.97585605,  98.45723272],
       [ 96.02548256, 102.82360856, 106.47551845],
       [105.30350449,  92.87730812, 103.19258339],
       [110.44484313,  93.87155456, 101.5363647 ],
       [101.3514185 , 100.37372248, 106.6471081 ],
       [ 97.21315663, 107.02874163, 102.17642112]])

In [18]:
# Num of dimensions
print("Dataset:", dataset.shape)
print("Subset:", v_split_result[0].shape)

Dataset: (24, 9)
Subset: (12, 3)

In [19]:
# splitting up our dataset vertically on index 2
v_split_result = np.vsplit(dataset, [2])

---

In [20]:
pd.DataFrame(v_split_result[0])

,0,1,2,3,4,5,6,7,8
0,99.149315,104.038527,107.435347,97.852307,98.749869,98.808334,96.819649,98.567832,101.347459
1,92.026288,97.104393,99.320669,97.245848,92.926751,92.656578,105.719785,101.231629,93.871555

In [21]:
pd.DataFrame(v_split_result[1])

,0,1,2,3,4,5,6,7,8
0,95.662537,95.177501,90.933181,110.188895,98.800844,105.952977,98.374814,106.546543,107.224824
1,91.372946,100.967814,100.401183,113.420905,105.485088,91.660495,106.147284,95.087158,103.404121
2,101.208625,103.573031,100.286909,105.852694,93.371263,108.579804,100.794790,94.200197,96.100203
3,102.803871,98.296876,93.243764,97.241300,89.034527,96.283275,104.603448,101.134424,97.627878
4,106.717516,102.975856,98.457233,100.724189,106.397985,95.464934,94.353732,106.832738,100.077215
5,96.025483,102.823609,106.475518,101.347459,102.456518,98.747675,97.575443,92.574876,91.372946
6,105.303504,92.877308,103.192583,104.405183,101.293268,100.854471,101.222604,106.038688,97.852307
7,110.444843,93.871555,101.536365,97.653935,92.750486,101.720746,96.968512,103.291471,99.149315
8,101.351418,100.373722,106.647108,100.617428,105.032054,99.360000,98.870075,95.852842,93.978535
9,97.213157,107.028742,102.176421,96.746303,95.937992,102.623847,105.074753,97.595722,106.573646
10,95.659820,107.224824,107.191199,102.930395,85.988396,95.191843,91.320933,102.353140,100.393035
11,100.393035,92.010823,97.758876,93.188843,100.449403,108.094234,96.503429,99.586647,95.191843
12,103.152160,109.405232,93.839693,99.958279,101.834628,99.699828,103.052896,103.933840,104.158998
13,106.114550,88.802211,94.508179,94.593007,101.088305,96.346228,96.892443,98.071227,100.286909
14,96.782662,99.842516,104.034780,106.570527,105.136683,105.370119,99.075513,104.158998,98.751084
15,101.861862,103.617202,99.578599,99.488954,103.055414,98.659127,98.727741,104.705264,110.444843
16,97.495948,96.593855,104.638177,102.551986,105.860785,96.593778,93.046109,99.921600,100.967814
17,96.768148,91.677922,101.791328,101.207734,98.292440,101.838458,97.940469,102.206185,91.372946
18,106.890050,106.573646,102.266483,107.400646,99.943182,103.404121,106.382767,98.002530,97.104393
19,99.808731,101.639731,106.464765,110.439767,100.691562,99.995795,101.321137,94.762536,97.241300
20,96.100203,94.574217,100.804093,105.023899,98.613252,95.623593,97.997624,103.838525,101.222604
21,94.111769,99.623878,104.517864,97.627878,93.978535,98.751084,106.050425,100.077215,106.890050

#### Iterating

Once you sent over the dataset they tell you that they also need a way iterate over the whole dataset element by element as if it would be a one-dimensional list.   
However, they want to also now the position in the dataset itself.

They send you this piece of code and tell you that it's not working as mentioned.   
Come up with the right solution for their needs.

In [22]:
# iterating over whole dataset (each value in each row)
curr_index = 0
for x in np.nditer(dataset):
    print(x, curr_index)
    curr_index += 1

99.14931546 0
104.03852715 1
107.43534677 2
97.85230675 3
98.74986914 4
98.80833412 5
96.81964892 6
98.56783189 7
101.34745901 8
92.02628776 9
97.10439252 10
99.32066924 11
97.24584816 12
92.9267508 13
92.65657752 14
105.7197853 15
101.23162942 16
93.87155456 17
95.66253664 18
95.17750125 19
90.93318132 20
110.18889465 21
98.80084371 22
105.95297652 23
98.37481387 24
106.54654286 25
107.22482426 26
91.37294597 27
100.96781394 28
100.40118279 29
113.42090475 30
105.48508838 31
91.6604946 32
106.1472841 33
95.08715803 34
103.40412146 35
101.20862522 36
103.5730309 37
100.28690912 38
105.85269352 39
93.37126331 40
108.57980357 41
100.79478953 42
94.20019732 43
96.10020311 44
102.80387079 45
98.29687616 46
93.24376389 47
97.24130034 48
89.03452725 49
96.2832753 50
104.60344836 51
101.13442416 52
97.62787811 53
106.71751618 54
102.97585605 55
98.45723272 56
100.72418901 57
106.39798503 58
95.46493436 59
94.35373179 60
106.83273763 61
100.07721494 62
96.02548256 63
102.82360856 64
106.47551845 65
101.34745901 66
102.45651798 67
98.74767493 68
97.57544275 69
92.5748759 70
91.37294597 71
105.30350449 72
92.87730812 73
103.19258339 74
104.40518318 75
101.29326772 76
100.85447132 77
101.2226037 78
106.03868807 79
97.85230675 80
110.44484313 81
93.87155456 82
101.5363647 83
97.65393524 84
92.75048583 85
101.72074646 86
96.96851209 87
103.29147111 88
99.14931546 89
101.3514185 90
100.37372248 91
106.6471081 92
100.61742813 93
105.0320535 94
99.35999981 95
98.87007532 96
95.85284217 97
93.97853495 98
97.21315663 99
107.02874163 100
102.17642112 101
96.74630281 102
95.93799169 103
102.62384733 104
105.07475277 105
97.59572169 106
106.57364584 107
95.65982034 108
107.22482426 109
107.19119932 110
102.93039474 111
85.98839623 112
95.19184343 113
91.32093303 114
102.35313953 115
100.39303522 116
100.39303522 117
92.0108226 118
97.75887636 119
93.18884302 120
100.44940274 121
108.09423367 122
96.50342927 123
99.58664719 124
95.19184343 125
103.1521596 126
109.40523174 127
93.83969256 128
99.95827854 129
101.83462816 130
99.69982772 131
103.05289628 132
103.93383957 133
104.15899829 134
106.11454989 135
88.80221141 136
94.5081787 137
94.59300658 138
101.08830521 139
96.34622848 140
96.89244283 141
98.07122664 142
100.28690912 143
96.78266211 144
99.84251605 145
104.03478031 146
106.57052697 147
105.13668343 148
105.37011896 149
99.07551254 150
104.15899829 151
98.75108352 152
101.86186193 153
103.61720152 154
99.57859892 155
99.4889538 156
103.05541444 157
98.65912661 158
98.72774132 159
104.70526438 160
110.44484313 161
97.49594839 162
96.59385486 163
104.63817694 164
102.55198606 165
105.86078488 166
96.5937781 167
93.04610867 168
99.92159953 169
100.96781394 170
96.76814836 171
91.6779221 172
101.79132774 173
101.20773355 174
98.29243952 175
101.83845792 176
97.94046856 177
102.20618501 178
91.37294597 179
106.89005002 180
106.57364584 181
102.26648279 182
107.40064604 183
99.94318168 184
103.40412146 185
106.38276709 186
98.00253006 187
97.10439252 188
99.80873105 189
101.63973121 190
106.46476468 191
110.43976681 192
100.69156231 193
99.99579473 194
101.32113654 195
94.76253572 196
97.24130034 197
96.10020311 198
94.57421727 199
100.80409326 200
105.02389857 201
98.61325194 202
95.62359311 203
97.99762409 204
103.83852459 205
101.2226037 206
94.11176915 207
99.62387832 208
104.51786419 209
97.62787811 210
93.97853495 211
98.75108352 212
106.05042487 213
100.07721494 214
106.89005002 215

In [23]:
# iterating over the whole dataset with indices matching the position in the dataset
index = 0
for x in np.ndindex(dataset.shape):
    print(x, dataset[x])

(0, 0) 99.14931546
(0, 1) 104.03852715
(0, 2) 107.43534677
(0, 3) 97.85230675
(0, 4) 98.74986914
(0, 5) 98.80833412
(0, 6) 96.81964892
(0, 7) 98.56783189
(0, 8) 101.34745901
(1, 0) 92.02628776
(1, 1) 97.10439252
(1, 2) 99.32066924
(1, 3) 97.24584816
(1, 4) 92.9267508
(1, 5) 92.65657752
(1, 6) 105.7197853
(1, 7) 101.23162942
(1, 8) 93.87155456
(2, 0) 95.66253664
(2, 1) 95.17750125
(2, 2) 90.93318132
(2, 3) 110.18889465
(2, 4) 98.80084371
(2, 5) 105.95297652
(2, 6) 98.37481387
(2, 7) 106.54654286
(2, 8) 107.22482426
(3, 0) 91.37294597
(3, 1) 100.96781394
(3, 2) 100.40118279
(3, 3) 113.42090475
(3, 4) 105.48508838
(3, 5) 91.6604946
(3, 6) 106.1472841
(3, 7) 95.08715803
(3, 8) 103.40412146
(4, 0) 101.20862522
(4, 1) 103.5730309
(4, 2) 100.28690912
(4, 3) 105.85269352
(4, 4) 93.37126331
(4, 5) 108.57980357
(4, 6) 100.79478953
(4, 7) 94.20019732
(4, 8) 96.10020311
(5, 0) 102.80387079
(5, 1) 98.29687616
(5, 2) 93.24376389
(5, 3) 97.24130034
(5, 4) 89.03452725
(5, 5) 96.2832753
(5, 6) 104.60344836
(5, 7) 101.13442416
(5, 8) 97.62787811
(6, 0) 106.71751618
(6, 1) 102.97585605
(6, 2) 98.45723272
(6, 3) 100.72418901
(6, 4) 106.39798503
(6, 5) 95.46493436
(6, 6) 94.35373179
(6, 7) 106.83273763
(6, 8) 100.07721494
(7, 0) 96.02548256
(7, 1) 102.82360856
(7, 2) 106.47551845
(7, 3) 101.34745901
(7, 4) 102.45651798
(7, 5) 98.74767493
(7, 6) 97.57544275
(7, 7) 92.5748759
(7, 8) 91.37294597
(8, 0) 105.30350449
(8, 1) 92.87730812
(8, 2) 103.19258339
(8, 3) 104.40518318
(8, 4) 101.29326772
(8, 5) 100.85447132
(8, 6) 101.2226037
(8, 7) 106.03868807
(8, 8) 97.85230675
(9, 0) 110.44484313
(9, 1) 93.87155456
(9, 2) 101.5363647
(9, 3) 97.65393524
(9, 4) 92.75048583
(9, 5) 101.72074646
(9, 6) 96.96851209
(9, 7) 103.29147111
(9, 8) 99.14931546
(10, 0) 101.3514185
(10, 1) 100.37372248
(10, 2) 106.6471081
(10, 3) 100.61742813
(10, 4) 105.0320535
(10, 5) 99.35999981
(10, 6) 98.87007532
(10, 7) 95.85284217
(10, 8) 93.97853495
(11, 0) 97.21315663
(11, 1) 107.02874163
(11, 2) 102.17642112
(11, 3) 96.74630281
(11, 4) 95.93799169
(11, 5) 102.62384733
(11, 6) 105.07475277
(11, 7) 97.59572169
(11, 8) 106.57364584
(12, 0) 95.65982034
(12, 1) 107.22482426
(12, 2) 107.19119932
(12, 3) 102.93039474
(12, 4) 85.98839623
(12, 5) 95.19184343
(12, 6) 91.32093303
(12, 7) 102.35313953
(12, 8) 100.39303522
(13, 0) 100.39303522
(13, 1) 92.0108226
(13, 2) 97.75887636
(13, 3) 93.18884302
(13, 4) 100.44940274
(13, 5) 108.09423367
(13, 6) 96.50342927
(13, 7) 99.58664719
(13, 8) 95.19184343
(14, 0) 103.1521596
(14, 1) 109.40523174
(14, 2) 93.83969256
(14, 3) 99.95827854
(14, 4) 101.83462816
(14, 5) 99.69982772
(14, 6) 103.05289628
(14, 7) 103.93383957
(14, 8) 104.15899829
(15, 0) 106.11454989
(15, 1) 88.80221141
(15, 2) 94.5081787
(15, 3) 94.59300658
(15, 4) 101.08830521
(15, 5) 96.34622848
(15, 6) 96.89244283
(15, 7) 98.07122664
(15, 8) 100.28690912
(16, 0) 96.78266211
(16, 1) 99.84251605
(16, 2) 104.03478031
(16, 3) 106.57052697
(16, 4) 105.13668343
(16, 5) 105.37011896
(16, 6) 99.07551254
(16, 7) 104.15899829
(16, 8) 98.75108352
(17, 0) 101.86186193
(17, 1) 103.61720152
(17, 2) 99.57859892
(17, 3) 99.4889538
(17, 4) 103.05541444
(17, 5) 98.65912661
(17, 6) 98.72774132
(17, 7) 104.70526438
(17, 8) 110.44484313
(18, 0) 97.49594839
(18, 1) 96.59385486
(18, 2) 104.63817694
(18, 3) 102.55198606
(18, 4) 105.86078488
(18, 5) 96.5937781
(18, 6) 93.04610867
(18, 7) 99.92159953
(18, 8) 100.96781394
(19, 0) 96.76814836
(19, 1) 91.6779221
(19, 2) 101.79132774
(19, 3) 101.20773355
(19, 4) 98.29243952
(19, 5) 101.83845792
(19, 6) 97.94046856
(19, 7) 102.20618501
(19, 8) 91.37294597
(20, 0) 106.89005002
(20, 1) 106.57364584
(20, 2) 102.26648279
(20, 3) 107.40064604
(20, 4) 99.94318168
(20, 5) 103.40412146
(20, 6) 106.38276709
(20, 7) 98.00253006
(20, 8) 97.10439252
(21, 0) 99.80873105
(21, 1) 101.63973121
(21, 2) 106.46476468
(21, 3) 110.43976681
(21, 4) 100.69156231
(21, 5) 99.99579473
(21, 6) 101.32113654
(21, 7) 94.76253572
(21, 8) 97.24130034
(22, 0) 96.10020311
(22, 1) 94.57421727
(22, 2) 100.80409326
(22, 3) 105.02389857
(22, 4) 98.61325194
(22, 5) 95.62359311
(22, 6) 97.99762409
(22, 7) 103.83852459
(22, 8) 101.2226037
(23, 0) 94.11176915
(23, 1) 99.62387832
(23, 2) 104.51786419
(23, 3) 97.62787811
(23, 4) 93.97853495
(23, 5) 98.75108352
(23, 6) 106.05042487
(23, 7) 100.07721494
(23, 8) 106.89005002

In [24]:
for index, elem in np.ndenumerate(dataset):
    print(index, elem)

(0, 0) 99.14931546
(0, 1) 104.03852715
(0, 2) 107.43534677
(0, 3) 97.85230675
(0, 4) 98.74986914
(0, 5) 98.80833412
(0, 6) 96.81964892
(0, 7) 98.56783189
(0, 8) 101.34745901
(1, 0) 92.02628776
(1, 1) 97.10439252
(1, 2) 99.32066924
(1, 3) 97.24584816
(1, 4) 92.9267508
(1, 5) 92.65657752
(1, 6) 105.7197853
(1, 7) 101.23162942
(1, 8) 93.87155456
(2, 0) 95.66253664
(2, 1) 95.17750125
(2, 2) 90.93318132
(2, 3) 110.18889465
(2, 4) 98.80084371
(2, 5) 105.95297652
(2, 6) 98.37481387
(2, 7) 106.54654286
(2, 8) 107.22482426
(3, 0) 91.37294597
(3, 1) 100.96781394
(3, 2) 100.40118279
(3, 3) 113.42090475
(3, 4) 105.48508838
(3, 5) 91.6604946
(3, 6) 106.1472841
(3, 7) 95.08715803
(3, 8) 103.40412146
(4, 0) 101.20862522
(4, 1) 103.5730309
(4, 2) 100.28690912
(4, 3) 105.85269352
(4, 4) 93.37126331
(4, 5) 108.57980357
(4, 6) 100.79478953
(4, 7) 94.20019732
(4, 8) 96.10020311
(5, 0) 102.80387079
(5, 1) 98.29687616
(5, 2) 93.24376389
(5, 3) 97.24130034
(5, 4) 89.03452725
(5, 5) 96.2832753
(5, 6) 104.60344836
(5, 7) 101.13442416
(5, 8) 97.62787811
(6, 0) 106.71751618
(6, 1) 102.97585605
(6, 2) 98.45723272
(6, 3) 100.72418901
(6, 4) 106.39798503
(6, 5) 95.46493436
(6, 6) 94.35373179
(6, 7) 106.83273763
(6, 8) 100.07721494
(7, 0) 96.02548256
(7, 1) 102.82360856
(7, 2) 106.47551845
(7, 3) 101.34745901
(7, 4) 102.45651798
(7, 5) 98.74767493
(7, 6) 97.57544275
(7, 7) 92.5748759
(7, 8) 91.37294597
(8, 0) 105.30350449
(8, 1) 92.87730812
(8, 2) 103.19258339
(8, 3) 104.40518318
(8, 4) 101.29326772
(8, 5) 100.85447132
(8, 6) 101.2226037
(8, 7) 106.03868807
(8, 8) 97.85230675
(9, 0) 110.44484313
(9, 1) 93.87155456
(9, 2) 101.5363647
(9, 3) 97.65393524
(9, 4) 92.75048583
(9, 5) 101.72074646
(9, 6) 96.96851209
(9, 7) 103.29147111
(9, 8) 99.14931546
(10, 0) 101.3514185
(10, 1) 100.37372248
(10, 2) 106.6471081
(10, 3) 100.61742813
(10, 4) 105.0320535
(10, 5) 99.35999981
(10, 6) 98.87007532
(10, 7) 95.85284217
(10, 8) 93.97853495
(11, 0) 97.21315663
(11, 1) 107.02874163
(11, 2) 102.17642112
(11, 3) 96.74630281
(11, 4) 95.93799169
(11, 5) 102.62384733
(11, 6) 105.07475277
(11, 7) 97.59572169
(11, 8) 106.57364584
(12, 0) 95.65982034
(12, 1) 107.22482426
(12, 2) 107.19119932
(12, 3) 102.93039474
(12, 4) 85.98839623
(12, 5) 95.19184343
(12, 6) 91.32093303
(12, 7) 102.35313953
(12, 8) 100.39303522
(13, 0) 100.39303522
(13, 1) 92.0108226
(13, 2) 97.75887636
(13, 3) 93.18884302
(13, 4) 100.44940274
(13, 5) 108.09423367
(13, 6) 96.50342927
(13, 7) 99.58664719
(13, 8) 95.19184343
(14, 0) 103.1521596
(14, 1) 109.40523174
(14, 2) 93.83969256
(14, 3) 99.95827854
(14, 4) 101.83462816
(14, 5) 99.69982772
(14, 6) 103.05289628
(14, 7) 103.93383957
(14, 8) 104.15899829
(15, 0) 106.11454989
(15, 1) 88.80221141
(15, 2) 94.5081787
(15, 3) 94.59300658
(15, 4) 101.08830521
(15, 5) 96.34622848
(15, 6) 96.89244283
(15, 7) 98.07122664
(15, 8) 100.28690912
(16, 0) 96.78266211
(16, 1) 99.84251605
(16, 2) 104.03478031
(16, 3) 106.57052697
(16, 4) 105.13668343
(16, 5) 105.37011896
(16, 6) 99.07551254
(16, 7) 104.15899829
(16, 8) 98.75108352
(17, 0) 101.86186193
(17, 1) 103.61720152
(17, 2) 99.57859892
(17, 3) 99.4889538
(17, 4) 103.05541444
(17, 5) 98.65912661
(17, 6) 98.72774132
(17, 7) 104.70526438
(17, 8) 110.44484313
(18, 0) 97.49594839
(18, 1) 96.59385486
(18, 2) 104.63817694
(18, 3) 102.55198606
(18, 4) 105.86078488
(18, 5) 96.5937781
(18, 6) 93.04610867
(18, 7) 99.92159953
(18, 8) 100.96781394
(19, 0) 96.76814836
(19, 1) 91.6779221
(19, 2) 101.79132774
(19, 3) 101.20773355
(19, 4) 98.29243952
(19, 5) 101.83845792
(19, 6) 97.94046856
(19, 7) 102.20618501
(19, 8) 91.37294597
(20, 0) 106.89005002
(20, 1) 106.57364584
(20, 2) 102.26648279
(20, 3) 107.40064604
(20, 4) 99.94318168
(20, 5) 103.40412146
(20, 6) 106.38276709
(20, 7) 98.00253006
(20, 8) 97.10439252
(21, 0) 99.80873105
(21, 1) 101.63973121
(21, 2) 106.46476468
(21, 3) 110.43976681
(21, 4) 100.69156231
(21, 5) 99.99579473
(21, 6) 101.32113654
(21, 7) 94.76253572
(21, 8) 97.24130034
(22, 0) 96.10020311
(22, 1) 94.57421727
(22, 2) 100.80409326
(22, 3) 105.02389857
(22, 4) 98.61325194
(22, 5) 95.62359311
(22, 6) 97.99762409
(22, 7) 103.83852459
(22, 8) 101.2226037
(23, 0) 94.11176915
(23, 1) 99.62387832
(23, 2) 104.51786419
(23, 3) 97.62787811
(23, 4) 93.97853495
(23, 5) 98.75108352
(23, 6) 106.05042487
(23, 7) 100.07721494
(23, 8) 106.89005002